# Exibe mensagem de erro
ErrorDocument 403 "Error 403: Sem permiss&atilde;o para acessar este diret&oacute;rio."

# Bloqueia qualquer tentativa de acessar o arquivo .env via navegador
<FilesMatch "^\.env">
  Require all denied
</FilesMatch>